body{
    color: white;
    background: rgb(0, 225, 255);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(218, 235, 158);
    padding: 20px;
    font-size: 32px;
    color: black;
}

section{
   background: rgb(46, 46, 46);
   padding-bottom: 100px;
   padding-top: 70px;
   display: flex;
   justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}


